body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: row;
}

.newNote {
  display: flex;
  flex-direction: column;
}

.newNote, .newFolder > input {
  width: 150px;
}

.newFolder {
  display: flex;
  flex-direction: column;
}

.Sidebar {
  width: 33%;
  text-align: center;
}

.Notes {
  width: 66%;
  text-align: center;
}

.folder {
  margin: 10px;
}

.note {
  margin: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

.topToBottom {
  writing-mode: vertical-lr;
}